.button{
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-text-fill: white;
    -fx-font-size: 36;
    -fx-pref-width: 360;
    -fx-pref-height: 75;
}

.button:hover {
    -fx-background-color: black;
}

.button:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/*
.button:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
*/

.radioButton {
    -fx-border-size: 3px;
    -fx-border-color: black;
}

#gameMenuBackground, #settingsBackground, #loadMenuBackground, #howToPlayBackground {
    -fx-background-image: url("../resources/Art/zombie_background.jpg");
    -fx-background-size: stretch;
}
