#gameWindow {
    -fx-background-image: url("../resources/Art/tileset_stone.jpg");
    -fx-background-repeat: repeat;
    -fx-background-size: 200px 200px;
}

#bottomBar, #hudTimerBackground, #hudScoreBackground {
    -fx-background-color: gray;
    -fx-border-color: black;
}